@keyframes blinking {
    0% {
        background-color: #7d1919;
    }
    50% {
        background-color: #c98e0d;
    }
    100% {
        background-color: #7d1919;
    }
}

.header {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 1920px;
    z-index: 9000;
    transform: translate(-50%, 0);
    border-bottom: 1px solid #ffffff;
}

.header.not_home {
    border-bottom: 1px solid #000000;
    position: static;
    transform: none;
}

.header_wrap {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
}

.header_wrap.second_depth {
    justify-content: flex-end;
}

.logo {
    width: 300px;
    text-align: left;
    font-size: 1.625rem;
}

.logo p {
    color: #ffffff;
}

.not_home .logo p {
    color: #000000;
}

.nav_li a:hover {
    color: #7d1919;
}

.round {
    animation: blinking 2s infinite;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #7d1919;
    display: inline-flex;
    margin-right: 10px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}

.round a {
    color: #ffffff;
}

nav ul {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.light {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.light.mobile {
    align-items: end;
}

nav > ul > li {
    position: relative;
}

nav > ul > li a:hover {
    color: #a00f16;
}

nav ul li a {
    color: #ffffff;
    font-size: 1.25rem;
}

nav ul li a:hover {
    color: #a00f16;
}

.not_home nav ul li a {
    color: #000000;
}

.nav-hov {
    display: none;
}

.nav-hov.active {
    position: absolute;
    left: -22px;
    top: 105%;
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: flex-start;
    margin-top: 33px;
    z-index: 9999;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}

.nav-hov li {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-radius: 0 0 5px 5px;
}

.nav-hov li a {
    font-size: 16px;
}

.nav-hov li a:hover {
    border-bottom: 2px solid #a00f16;
}

.phone_box {
    display: inline-block;
    width: 240px;
    height: 100%;
    line-height: 93px;
    text-align: center;
    background: #a00f16;
}

@media (max-width: 1020px) {
    .header_wrap {
        height: 70px;
        padding: 0 20px;
        align-items: end;
    }

    .logo p {
        margin-bottom: 5px;
    }
}