@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'GmarketSansMedium', serif;
    max-width: 1920px;
    width: 100%;
    color: #000000;
    margin: 0 auto;
}

.white {
    color: #ffffff;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.smart_slider .slick-prev,
.smart_slider .slick-next {
    background-color: #fff;
}

.smart_slider .slick-prev:before,
.smart_slider .slick-next:before {
    color: #000 !important;
}

.slick-slide {
    position: relative;
}

.smart_slider .slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    padding: 0 5px;
    max-width: 540px;
}

.home .slick-slide:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 6px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
}

html {
    font-size: 16px;
}

.flex {
    display: flex;
}

@media (max-width: 1020px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 640px) {
    html {
        font-size: 10px;
    }
}